<!DOCTYPE html>
<html>
<head>
    <title>Пользователи</title>
</head>
<body>

    <a href="/" class="btn back-btn">Назад на главную</a>
    <h1>Список пользователей</h1>
    <a href="/users/create/">Добавить пользователя</a>
    <table border="1">
        <tr>
            <th>ID</th>
            <th>Имя пользователя</th>
            <th>Email</th>
            <th>Пароль</th>
            <th>Действия</th>
        </tr>
        {% for user in users %}
        <tr>
            <td>{{ user.id }}</td>
            <td>{{ user.username }}</td>
            <td>{{ user.email }}</td>
            <td>{{ user.password }}</td>
            <td>
                <a href="/users/edit/{{ user.id }}/">Редактировать</a>
                <a href="/users/delete/{{ user.id }}/">Удалить</a>
            </td>
        </tr>
        {% endfor %}
    </table>
</body>
</html>
